[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
boto3 = "*"
click = "*"
botocore = "*"

[dev-packages]
flake8 = "*"
pycodestyle = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
